.games-predictions-item {
    height: 360px;
    border: 1px solid rgba(188,188,188,0.71);
    width: 24%;

}

.games-predictions-item__preview {
    background-color: #EA0029;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px
}



.games-prediction-item__image-wrapper {
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.games-predictions-item__time {
    height: 100px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 20px;
}

.games-prediction-item__coefficient {
    background-color: white;
    text-align: center;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.games-predictions-item__logos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.games-predictions-item__info {
    display: flex;
    flex-direction: column;
    /*gap: 80px;*/
    height: 50%;
    margin-left: 24px;
    justify-content: space-between;
}

.games-predictions-item__info h3 {
    font-size: 20px;
}

.games-predictions-item__author {
    display: flex;
    gap: 10px;
    align-items: end;
    padding-bottom: 10px;
}