.games-history-item {
    width: 100%;
    min-height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid #E5E5E5;
    border-width: 1px 0 0 0;
}

.games-history-item b {
    font-size: 16px;
}

.games-history-item__score {
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.games-history-item__overview {
    display: flex;
    align-items: center;
    gap: 30px;
}

.games-history-item__time {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.games-history-item__tournament {
    display: flex;
    align-items: center;
    gap: 12px;
}

.games-history-item__image-wrapper {
    width: 60px;
    height: 60px;
    border: 1px solid rgba(221,221,221,0.71);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.games-history-item__tournament-image-wrapper {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(221,221,221,0.71);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}