.upcoming-games {
    display: flex;
    gap: 20px;
}

.upcoming-games p {
    font-size: 19px;
    font-weight: 800;
    margin-left: 10px;
}




.upcoming-games h3 {
    font-size: 22px;
    margin-bottom: 12px;
}


.upcoming-games__first {
    width: 50%;
}

.upcoming-games__second {
    width: 50%;
}

upcoming__games-win-logo