.under__header__info {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;

}

.under__header__info p, time{
    font-size: 18px;
}


.under__header__social {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social__item {
    display: flex;
    gap: 5px;
}

.line__game {
    width: 180px;
    height: 5px;
    background: black;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-left: 314px;
    margin-top: 20px;
}