.main__header {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-shrink: 0;
    color: #000;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 60px;
    margin-left: 20px;
    margin-bottom: 26px;
}

.game__filters {
    height: 40px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
}

.game__filter {
    border-radius: 42px;
    border: 3px solid #000;
    box-sizing: border-box;
    height: 50px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}
.game__filter:first-child {
    margin-left: 21px;
}

.game__filter__logo {
    width: 28px;
    height: 28px;
    margin-top: 6px;
    margin-left: 22px;
    margin-bottom: 6px;
}
.game__filter__text {
    font-size: 18px;
    color: #000;
    text-align: center;
    margin: 10px 18px 8px 10px;
}

.matches__timezone {
    font-size: 18px;
    font-weight: 400;
    word-wrap: break-word;
    margin-top: 40px;
    margin-left: 20px;
    display: flex;
    gap: 30px;
}

.timezones {
    color: black;
    font-size: 18px;
    font-weight: 400;
    word-wrap: break-word;
}



.timezone {
    font-weight: 700;
}
.timezone:active {
    font-weight: 700;
}





.matches__filter img {
    padding-top: 5px;
}
.line {
    margin-top: 15px;
}

.picked__line {


}

.timezones__filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 40px;
}

.match__filter__choosen {
    background-color: #f5f5f5;
    border-radius: 42px;
    height: 41px;
    display: flex;
    gap: 8px;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
}
.matches__filter {
    display: flex;
    color: black;
    font-size: 18px;
    font-weight: 700;
    word-wrap: break-word;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
}

.tournaments__filters {
    width: 90%;
    display: flex;
    gap: 15px;
    font-size: 16px;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 25px;
    margin-top: 25px;
    margin-right: 20px;
}

.tournament__item {
    background: #F5F5F5;
    color: black;
    font-weight: 400;
    word-wrap: break-word;
    border-radius: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

.tournament__item:hover {
    cursor: pointer;
}

.tournament__item__active {
    background: black;
    color: white;
}


.games__large {
    margin-left: 25px;
    margin-top: 60px;
    display: flex;
    gap: 21px;
    align-items: center;
    margin-right: 20px;

}





.games__normal {
    padding-left: 25px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    margin-right: 20px;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
}


.games__normal__item:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}