.news {
    background-color: black;
    height: 550px;
    width: 100%;
}

.news-section {
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;

}

.news-header {
     display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 20px;
}

.news-header__text {
    color: #fff;
    position: relative;
    left: 20px;
}

.news-header__pointers {
    width: 5%;
    display: flex;
    position: relative;
    right: 20px;
    justify-content: space-between;
}

.open-more {
    position: relative;
    border-radius: 42px;
    border: 1px solid white;
    box-sizing: border-box;
    height: 40px;
    display: flex;
    justify-content: center;
    width: 13%;
    margin: 40px auto;
    align-items: center;
}

.open-more__button {
    position: relative;
    font-size: 16px;
    display: flex;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 40px;

}

.open-more:hover {
    cursor: pointer;
}