.match__schedule__item {
    min-height: 70px;
    width: 100%;
    border: 0px solid rgba(229, 229, 229, 0.71);
    border-width: 1px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom_border {
    border-bottom: 1px;
    border: 0px solid rgba(229, 229, 229, 0.71);
    border-width: 1px 0px 1px 0px;
}

.match__schedule__stage {
    color: black;
    font-size: 16px;
    font-family: 'Formular', serif;
    font-weight: 400;
    word-wrap: break-word;
    width: 10%;
}

.match-schedule-item-last__tournament {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: black;
    font-size: 16px;
    font-weight: 400;
    align-items: center;
}

.match-schedule-item-last__logo-wrapper {
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 60px;
    border-left: 0.50px #F6F6FA solid;
    border-top: 0.50px #F6F6FA solid;
    border-right: 0.50px #F6F6FA solid;
    border-bottom: 0.50px #F6F6FA solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.match-schedule-item__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.match-schedule-item-main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.match-schedule-item-main__first-team-name {
    color: black;
    font-size: 16px;
    font-weight: 700;
    word-wrap: break-word
}

.match-schedule-item-main__time {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    width: 20%;
}

.match-schedule-item-main__time-zone {
    color: black;
    font-size: 12px;
    font-weight: 400;
    word-wrap: break-word
}

.match-schedule-item-main__start {
    color: black;
    font-size: 22px;
    font-family: Formular, serif;
    font-weight: 800;
    word-wrap: break-word
}

.tournament__name {
}

.match-schedule-item-main__first-team {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: flex-end;
    gap: 20px;
    text-align: right;

}

.match-schedule-item__image-wrapper {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0.5px solid #F6F6FA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.match-schedule-item-main__second-team {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 30%;
    gap: 20px;;
}

.match-schedule-wrapper {
    width: 100%;
    color: black;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 20px;
}

.match-schedule-item {
    width: 100%;
    border-collapse: collapse;
}

.match-schedule-item-last {
    width: 20%;
}

.match-schedule-item td {
}

.match-schedule-item tr {
    height: 77px;
    border: solid #ddd;
    border-width: 1px 0px 1px 0px;
}

.match-schedule-item tr:hover {
    cursor: pointer;
}