.team-games-about {
    width: 70%;
    margin: 60px auto;
}

.team-games-about p {
    font-size: 22px;
}

.team-games-questions h2 {
    margin-top: 40px;
    font-size: 30px;
}

.teams-games-questions__item {
    display: flex;
    align-items: center;
    justify-content: space-between ;
    border: solid rgba(188,188,188,0.71);
    border-width:  0 0 1px 0;
    min-height: 60px;
}

.teams-games-questions__item b {
    font-size: 22px;

}

.team-games-about__expand {
    position: relative;
    border-radius: 42px;
    border: 1px solid #000;
    box-sizing: border-box;
    height: 40px;
    display: flex;
    justify-content: center;
    width: 20%;
    align-items: center;
    margin-top: 20px;
}

.team-games-about__expand:hover {
    cursor: pointer;
}

.team-games-about__button {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 40px;

}